<nav>
  <a (click)="getRecipeItems('')">
    <img src="assets/04.png" class="icon" />
  </a>
  <a (click)="getRecipeItems('YouTube')">
    <img src="assets/03.png" class="icon" />
  </a>
  <a (click)="getRecipeItems('Article')">
    <img src="assets/02.png" class="icon" />
  </a>
</nav>
<header>
  <div>{{ recipeItems | categoryList }}</div>
</header>
<section>
  <rb-recipe-item
    *ngFor = "let recipeItem of recipeItems" 
    (delete)="onRecipeItemDelete($event)" 
    [recipeItem]="recipeItem"
    [ngClass]="{ 'medium-youtube': recipeItem.medium === 'YouTube', 'medium-article': recipeItem.medium === 'Article' }"></rb-recipe-item>
</section>